* {padding:0px;
 margin:0px;
  }

.header {width:100vw;
        height:auto;
        display:flex;
         flex-direction:column;
        }

.banner {width: 100vw;
        height: 90vh;
       }

.nav {width:100vw;
      height:10vh;
      background-color:#778899;
     }

.banner img {width: 100vw;
             height: auto;
            }
